.nav1{
    display: flex;
   justify-content: center;
   background-color: darkorchid;
}

.imgnav{
    position: relative;
    right: 580px;
}

.navbartitre{
   display: flex;
   justify-content: center;
   
}

.imgnav2{
    position: relative;
    top: 30px;
}

.navbartitre ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbartitre ul li{
    display: inline;
    margin:0 30px;

}
.coworking{
    position: relative;
    left: 120px;
}

h1{
    text-align: center;
    margin-top: 110px;
    top: 120px;
}

.section1{
    justify-content: center;
  margin-left: 120px;
  margin-right: 120px;
}

.section2{
justify-content: center;
  margin-left: 120px;
  margin-right: 120px;
}